<%include ../partials/header %>
<h1>Create a Workout</h1>

<div>
    <p id="add">Add Exercise</p>
    <form id="newliftform" class="hidden" action="/workouts" method="POST">
        <select class="smallinput" name="workout[exercise]" required>
        <option value="default">Select</option>
        <option value="squat">Squat</option>
        <option value="deadlift">Deadlift</option>
        <option value="pullups">Pullups</option>
        <option value="pushups">Pushups</option>
        <option value="chinups">Chinups</option>
        <option value="OHP-DB">OHP-DB</option>
        <option value="OHP-BB">OHP-BB</option>
        <option value="Bench DB">Bench DB</option>
        <option value="Bench BB">Bench BB</option>
        </select>
        <input class="smallinput" type="number" name="workout[weight]" id="weight" placeholder="Weight">
        <input class="smallinput" type="number" name="workout[reps]" placeholder="Reps" required>
        <input class="smallinput" type="number" name="workout[sets]" placeholder="Sets" required>
        <input class="smallinput" type="date" name="workout[exercisedate]" required >
        <input id="submitnew" type="submit">
    </form>
</div>
<br>
<div class="uidivider"></div>   





<script src="/js/newworkout.js"></script>
<%include ../partials/footer %>