<%include ./partials/header %>
<h1>FunTime Tools Homepage</h1>
<a class = "btn btn-primary" href="/workouts">Workout Tracker</a>
<a class = "btn btn-primary" href="/lotto">Pick A Lotto Number</a>

<%include ./partials/footer %>
