#mainlottodiv {
margin: 0 auto;
max-width: 300px;
display: flex;
flex-direction: column;
}
#lottodescription {
    text-align: center; 
    font-size: 0.8em;
}

.btn {
    align-content: center;
}
h1 {

}
p {
    font-size: 0.9em;
}