
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.hidden {
    display: none;
}

.smallinput {
    width: 55px;
}
.uidivider {
    width: 95%;
    height: 1px;
    background: #aaa
}
.content {
    flex: 1 0 auto;
}
#footer {
    flex-shrink: 0;
    padding: 20px;
    background: #aaa;
}