
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.hidden {
    display: none;
}


@media screen and (max-width: 600px) {
    .smallinput {
        width: 57px;
    }
}

/*Basic UI Divider*/
.uidivider {
    width: 95%;
    height: 1px;
    background: #aaa
}

/*This supports flexbox for footer going underneath*/
.content {  
    flex: 1 0 auto;
}

/*Flexbox Footer*/
#footer {
    flex-shrink: 0;
    padding: 10px;
    background: #aaa;
    display: flex;
}
#footer div {
    margin: 0px 5px 0px 0px;
}